aiohttp
aiostream
beautifulsoup4
ds4biz-format-parsers
langdetect
loguru
loko-client
loko-extensions
nltk
opencv-python
pymupdf
pypdf2
pytesseract
python-Levenshtein
python-docx
rarfile
sanic
sanic-ext
xlsxwriter
