loko-client
loko-extensions
aiohttp
aiostream
beautifulsoup4
langdetect
loguru
nltk
opencv-python
pymupdf
pypdf2
pytesseract
python-Levenshtein
python-docx
rarfile
sanic
xlsxwriter
ds4biz-format-parsers
sanic-ext
